/* ---------------------------------- Consultorio  -----------------------------
	------------------------------------------------------------------------------- */

    $phone: 380px;
        $small: 450px;
        $medium: 900px;
section.consultorio{
	@include max-width-2;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	margin: 6rem auto;
	
	@media (max-width: $breakpoint_3){
		@include grid-parent-1-columns (1fr);
	}
	h4{
		color:#EC2462;
		font-weight: bold;
		@media screen and (max-width: $small) {
			font-size: 20px;
		line-height: 33px;
		margin: 0;
		padding: 0;
		}
	}
	.left_content{
		    justify-self: center;
			padding-right:40px;
			@media screen and (max-width: $small) {
				padding-right:0;
            }
	}
	
	.right_content{
		padding-left:40px;
		@media screen and (max-width: $small) {
			padding-left:0px;
		}
	}
	
}
	



